Well Logging DAU App Source Code/Logging_APP/Service References/A1DataInputService/WellLogInput.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DataImport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWellName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsData">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataImportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DataImportSoapIn">
    <wsdl:part name="parameters" element="tns:DataImport" />
  </wsdl:message>
  <wsdl:message name="DataImportSoapOut">
    <wsdl:part name="parameters" element="tns:DataImportResponse" />
  </wsdl:message>
  <wsdl:portType name="WellLogInputSoap">
    <wsdl:operation name="DataImport">
      <wsdl:input message="tns:DataImportSoapIn" />
      <wsdl:output message="tns:DataImportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WellLogInputSoap" type="tns:WellLogInputSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataImport">
      <soap:operation soapAction="http://tempuri.org/DataImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WellLogInputSoap12" type="tns:WellLogInputSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataImport">
      <soap12:operation soapAction="http://tempuri.org/DataImport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WellLogInput">
    <wsdl:port name="WellLogInputSoap" binding="tns:WellLogInputSoap">
      <soap:address location="http://10.89.145.37:5006/WellLogInput.asmx" />
    </wsdl:port>
    <wsdl:port name="WellLogInputSoap12" binding="tns:WellLogInputSoap12">
      <soap12:address location="http://10.89.145.37:5006/WellLogInput.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>